<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="project.css">
   
</head>
<body>
    <h1>Projects</h1>
{{#each projects}}
        <div class="project">
            <h2>{{title}}</h2>
            <p>Developer: {{developer}}</p>
            <p>Description: {{description}}</p>
            <p>Hosted URL: {{hostedURL}}</p>
        </div>
    {{/each}}


</body>
</html>
